.FAQPoint {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    height: 144px;
}

.FAQQuestion {
    color: var(--Dark-gray, #545454);
    font-family: "Open Sans";
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
}

.FAQAnswer {
    color: var(--Gray, #686868);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
}