.sectResumeWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectResumeToTrack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 69px;
}
.sectResumeToTrack p {
  font-size: 22px;
  line-height: 32px;
  font-family: var(--montserrat);
  color: var(--white);
}

.sectResumeBtnDropDown {
  cursor: pointer;
}

.sectResumeBtnDropDown svg {
  transform: rotate(-180deg);
}

.sectResumeBtnDropDown svg path {
  fill: var(--white);
}

/* Dropdown */
.sectResumeBtnDropDownActive svg {
  transform: rotate(0deg);
}

.sectResumeDropDown {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--brown-dark);
  color: var(--brown);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 160px;
  left: 160px;
  margin-left: auto;
}

.sectResumeDropDownList {
  counter-reset: list-counter;
}

.sectResumeDropDownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  counter-increment: list-counter;
}

.sectResumeDropDownItem::before {
  content: counter(list-counter) ".";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

.sectResumeDropDownItem svg {
  width: 19px;
  height: 19px;
}

.sectResumeDropDownText {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-gray);
  cursor: pointer;
}
.sectResumeDropDownText:hover {
  border-bottom: 2px solid #958060;
}
.sectResumeDropDownText:focus {
  color: #c8b18d;
  border-bottom: 2px solid #c8b18d;
}

@media (max-width: 1150px) {
  .sectResumeDropDown {
    width: calc(100% + 20px);
    left: 140px;
  }
}
@media (max-width: 1024px) {

  .sectResumeToTrack {
    gap: 40px;
  }
  .sectResumeToTrack p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 738px) {
  .sectResumeDropDown {
    left: 105px;
  }
}
@media (max-width: 650px) {
  .sectResumeWrap {
    padding: 4px 8px;
    border: 1px solid var(--white);
    border-radius: 20px;
  }
  .sectResumeDropDown {
    left: 130px;
    bottom: -5px;
  }
}
