.sectResumeWrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
gap: 69px;
}

.sectResumeToTrack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.sectResumeText{
    margin-right: 15px;
}
.sectResumeBtnDropDown {
    cursor: pointer;
}

.sectResumeBtnDropDown svg {
    transform: rotate(-180deg);

}

.sectResumeBtnDropDown svg path {
    fill: var(--brown);
}


/* Dropdown */
.sectResumeBtnDropDownActive svg {
    transform: rotate(0deg);
}

.sectResumeDropDown {
    padding: 0 8px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--brown);
    color: var(--brown);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 200px;
    margin-left: auto;
}


.sectResumeDropDownList {
    counter-reset: list-counter;
}

.sectResumeDropDownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    counter-increment: list-counter;
}

.sectResumeDropDownItem::before {
    content: counter(list-counter)".";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
}


.sectResumeDropDownItem svg {
    width: 19px;
    height: 19px;

}

.sectResumeDropDownText {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #958060;
    cursor: pointer;
}
.sectResumeDropDownText:hover{
    border-bottom: 2px solid #958060;
}
.sectResumeDropDownText:focus{
    color: #C8B18D;
    border-bottom: 2px solid #C8B18D;
}