.header {
    display: flex;
    width: calc(100% - 96px * 2);
    justify-content: space-between;
    align-items: center;
    margin-left: 96px;
    margin-right: 96px;
}

.headerLogo {
    display: flex;
    width: 190px;
    height: 98px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.headerNavigationBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

.navigationList {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--Button-Brown-default, #958060);
    padding: 8px 24px;
    text-decoration: none;
    color: #958060;
}

.link {
    text-decoration: none;
    border: none;
    color: #545454;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
}

.joinButton .link {
    color: #958060;
}

.headerBurgerButton {
    display: none;
}

@media (max-width: 390px) {
    .header {
        margin: 0;
        width: 100%;
    }

    .headerBurgerButton {
        display: initial;
    }

    .burgerImage {
        width: 63px;
        height: 60px;
    }

    .joinAndBackWrapper {
        display: flex;
        width: 342px;
        justify-content: space-between;
        align-items: center;
    }

    .backImage {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
    }

    .navigationList {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 16px;
    }

    .headerNavigationBlock {
        display: none;
    }

    .headerNavigationPopUp {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 24px;
        padding-right: 24px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 24px * 2);
        height: calc(100% - 32px * 2);
        background-color: white;
    }

    .headerNavigationPopUp .link {
        color: var(--Dark-gray, #545454);
        font-family: "Open Sans";
        font-size: 46px;
        font-style: normal;
        font-weight: 800;
        line-height: 60px;
        text-transform: uppercase;
    }

    .headerNavigationPopUp .joinButton .link {
        color: var(--Button-Brown-default, #958060);
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
    }


    .externalLinks {
        width: 100%;
        display: flex;
        justify-content: left;
        width: 50px;
        height: 50px;
    }

    .externalLink {
        width: 50px;
        height: 50px;
    }
}