.header {
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  position: relative;
}

.title {
  flex-grow: 0;
  color: var(--brown);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-left: auto;
}

.menu,
.newResume {
  position: relative;
  flex-shrink: 0;
}

.sectMenuDropDown,
.sectNewResumeDropDown {
  padding: 14px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--green);
  color: var(--green);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  margin-left: auto;
}

.sectMenuDropDownItem a {
  text-decoration: none;
  color: var(--green);
}

.sectMenuDropDownItem {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--montserrat);
  cursor: pointer;
}

.sectMenuDropDownItem:last-child {
  margin-bottom: 0;
}

@media (max-width: 390px), (min-width: 390px) {
  .header {
    gap: 16px;
    flex-wrap: wrap;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--montserrat);
  }

  /* .menu,
  .newResume {
    order: 0;
  } */

  .nav {
    gap: 16px;
    width: 100%;
  }

  .sectMenuDropDown {
    min-width: 185px;
  }

  .sectNewResumeDropDown {
    min-width: 245px;
  }
}

@media (min-width: 500px) {
  .header {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .header {
    flex-wrap: wrap;
  }

  .title {
    font-size: 24px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--open-sans);
  }

  .sectMenuDropDown,
  .sectNewResumeDropDown {
    padding: 6px;
    min-width: unset;
  }

  .nav {
    gap: 10px;
    width: 100%;
  }
}

@media (min-width: 1360px) {
  .title {
    font-size: 32px;
  }

  .sectMenuDropDown,
  .sectNewResumeDropDown {
    padding: 14px;
  }
}

@media (min-width: 1300px) {
  .nav {
    gap: 32px;
  }

  .header {
    gap: 32px;
    flex-wrap: nowrap;
  }
}
