.headerTable {
  margin-bottom: 8px;
  padding: 24px 39px 24px 24px;
  background-color: var(--brown);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  display: grid;
  grid-template-columns: 10% 28% 23.87% 21.76% 15.4%;
  grid-template-rows: 1fr;
  align-items: center;
}

.text,
.textDate {
  font-family: var(--montserrat);
  font-size: 22px;
  line-height: 32px;
  color: var(--white);
}
.sort {
  display: flex;
  align-items: center;
  gap: 8px;
}
.arrowDown {
  transform: rotate(180deg);
}
.star {
  width: 20px;
  height: 20px;
  fill: var(--brown-dark);
}

@media (max-width: 1024px) {
  .headerTable{
    padding: 20px 8px;
  }
  .text,
  .textDate {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 650px) {
  .textDate {
    display: none;
  }

  .headerTable {
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
  }
  .checkbox{
    order: 5;
  }
  .dropdown{
    order: 3
  }
  .text {
    order: 1;
  }
}
