.container {
  /* display: flex;
  flex-direction: column; */

}

@media (max-width: 1024px) {
  /* .container {
    margin: 0 auto;

  } */
}

@media (max-width: 675px) {
  /* .container {
    max-width: 500px;
    width: 100%;
  } */
}