.footerContant {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.footerContantContainer {
  background-color: #958060;
}

.footerElementImg {
  margin-bottom: 24px;
}

.footerContantElement {
  align-items: center;
  padding: 65px 0;
}
.footerContantElementLogo {
  padding: 65px 0;
  text-align: center;
}

.footerContantTitleForm {
  text-align: center;
}
.footerContantTitle,
.footerContantTitleForm {
  color: #c8b18d;
  font-size: 27px;
  line-height: 32px;
  font-weight: 700;
  font-family: var(--Open-Sans);
  margin-bottom: 24px;
  text-transform: uppercase;
}
.icon {
  width: 35px;
  margin-right: 30px;
  cursor: pointer;
}
.icon:hover {
  color: #604b2b;
  transition: 0.2s;
}
.creativityContainer {
  display: flex;
  justify-content: center;
  padding: 16px 0 60px 0;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  color: white;
  font-size: 22px;
  line-height: 32px;
  font-family: var(--montserrat);
  font-weight: 500;
  text-decoration: none;
}
.link:hover {
  color: #604b2b;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .footerContant {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) {
  .footerContant {
    padding-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo logo"
      "resources company"
      "inputs inputs";
  }

  .footerContantElementLogo:nth-child(1) {
    grid-area: logo;
  }

  .footerContantElement:nth-child(2) {
    grid-area: resources;
  }

  .footerContantElement:nth-child(3) {
    grid-area: company;
  }

  .footerContantElement:nth-child(4) {
    grid-area: inputs;
  }
  .footerContantElement {
    padding: 16px 0;
  }
  .footerContantElementLogo {
    padding-top: 24px;
    padding-bottom: 0;
  }
  .creativityContainer{
    padding-bottom: 24px;
  }
}
