.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

}


.react-calendar__navigation__label {
    font-family: var(--monserrat);
    margin-bottom: 4px;


}

.react-calendar__navigation__label__labelText {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    color: var(--dark-gray);
}

.react-calendar__month-view__weekdays {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 4px;
}

.react-calendar__month-view__weekdays__weekday {
    font-family: var(--monserrat);
    padding: 4px;

}

.react-calendar__month-view__weekdays__weekday abbr {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: var(--dark-gray);
    text-decoration: none;
}


.react-calendar__month-view__days {
    display: grid !important;
    column-gap: 8px;
    grid-template-columns: repeat(7, 1fr);
}

.react-calendar__month-view__days__day {
    padding: 2px 6px;
    font-family: var(--monserrat);
}

.react-calendar__month-view__days__day abbr {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: var(--dark-gray);
}


/* .react-calendar__month-view__days__day abbr:hover {
    cursor: pointer;
    font-weight: 800;
} */

.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth abbr {
    color: var(--gray-light);
}


.react-calendar__tile--active {
    background-color: var(--brown);
    border-radius: 20px;
}



.react-calendar__tile--active abbr {
    color: var(--white);
}

.react-calendar__year-view__months {
    flex-direction: column;
}

.react-calendar__year-view__months__month abbr {
    font-family: var(--monserrat);
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    color: var(--gray-light);
}

.react-calendar__year-view__months__month abbr:hover {
    cursor: pointer;
    font-weight: 600;
    color: var(--dark-gray);
}

.react-calendar__year-view__months .react-calendar__tile--hasActive {
    background-color: var(--white);
}

.react-calendar__year-view__months .react-calendar__tile--hasActive abbr {
    font-family: var(--monserrat);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--dark-gray);
}


.react-calendar__decade-view__years {
    flex-direction: column;
}

/* react-calendar__tile react-calendar__decade-view__years__year */

/* react-calendar__tile react-calendar__decade-view__years__year */