.back {
  cursor: pointer;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.back p {
  color: var(--dark-gray);
  font-family: var(--montserrat);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.enteringContainer {
  padding: 24px 24px 0;
  height: calc(100% - 41px);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(149, 128, 96, 0.2);
}
.title {
  margin-bottom: 8px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 700;
  font-family: var(--open-sans);
  color: var(--brown);
  text-transform: uppercase;
}
.label {
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--montserrat);
  color: var(--dark-gray);
}
.gray {
  fill: var(--dark-gray);
}
.contacts {
  margin-bottom: 4px;
  display: flex;
  gap: 4px;
}

.skills {
  margin-bottom: 4px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 2px solid var(--brown);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .enteringContainer {
    box-shadow: none;
    padding: 0;
  }
  .scroll {
    height: calc(100vh - 223px);
    padding: 0;
  }

  .scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scroll::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}
@media (max-width: 875px) {
  .scroll {
    height: calc(100vh - 260px);
    padding: 0;
  }
}
@media (max-width: 675px) {
  .form {
    max-width: 500px;
    width: 100%;
  }
  .title,
  .label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--montserrat);
  }
}
@media (max-width: 450px) {
  .contacts {
    flex-wrap: wrap;
  }
}
