.search {
  position: relative;
  overflow: hidden;
  max-width: 320px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(149, 128, 96, 0.2);
  background-color: var(--white);
  margin: 2px;
}

.searchInput,
.searchMobInput {
  border: none;
  background-color: transparent;
  padding: 14px 10px 14px 68px;
  outline: none;
  width: 320px;
  height: 100%;
  font-family: var(--montserrat);
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--gray);
}

.searchInput::placeholder {
  color: var(--gray-disabled);
}

.search svg {
  position: absolute;
  top: 14px;
  left: 29px;
  cursor: pointer;
}

.searchFocus {
  box-shadow: 0px 0px 5px 0px rgba(149, 128, 96, 0.8);
}

.searchMob {
  width: 100%;

  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(149, 128, 96, 0.2);
}
.searchMob svg {
  position: absolute;
  top: 7px;
  right: 13px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .searchInput {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 8px 10px 48px;
  }
  .search svg {
    top: 7px;
    left: 12px;
  }
}
@media (max-width: 600px) {
  .search {
    max-width: 40px;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  .searchInput {
    padding-left: 16px;
  }
  .searchMobInput {
    padding: 10px 8px 10px 16px;
    font-size: 16px;
    line-height: 19px;
  }
  .searchInput::placeholder{
    width: 0;
  }
}
