.passwordField {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.passwordField div {
  max-width: 289px;
  width: 100%;
}
.passwordField div p {
  position: absolute;
  left: 0;
}
.authBtn,
.recoveryBtn {
  margin-top: 32px;
  padding: 16px 150px;
  font-size: 24px;
  font-family: var(--montserrat);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
  border-radius: 20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.footerBtn {
  display: block;
  margin: 24px auto 0;
  padding: 8px 60px;
  border-radius: 20px;
  border: var(--white) 2px solid;
  background-color: transparent;
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.authBtn:hover,
.recoveryBtn:hover,
.footerBtn:hover {
  background: var(--brown-hover);
  color: var(--white);
}
.authBtn:active,
.recoveryBtn:active,
.footerBtn:active {
  background: var(--brown-focused);
  color: var(--white);
}
.authBtn:disabled,
.recoveryBtn:disabled,
.footerBtn:disabled {
  background: var(--gray-disabled);
  border-color: transparent;
}

.alernativText {
  display: none;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.passOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.checkboxLabel,
.forgotPass {
  font-size: 16px;
  font-family: var(--montserrat);
  font-weight: 600;
}
.checkboxLabel {
  color: var(--gray);
}
.checkboxInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkboxInput + .checkboxLabel {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxInput + .checkboxLabel::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--brown);
  border-radius: 2px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85% 85%;
}
.checkboxInput:checked + .checkboxLabel::before {
  background-image: url("../../../assets/check.svg");
}
.popup {
  padding: 48px;
}
.popup h4 {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
}
.popup p {
  font-family: var(--montserrat);
  font-size: 22px;
  margin-bottom: 32px;
  line-height: 32px;
}

.popup p:last-child {
  margin-top: 45px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.footerPopup {
  padding: 16px;
}
.footerPopupTitle {
  margin-bottom: 16px;
  font-size: 27px;
  line-height: 32px;
  font-family: var(--Open-Sans);
  font-weight: 600;
  text-transform: uppercase;
}
.footerPopupSubTitle,
.footerPopupSubTitleLeave {
  margin-bottom: 8px;
  font-family: var(--montserrat);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  max-width: 357px;
  width: 100%;
}
.footerPopupSubTitleLeave {
  padding-top: 8px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.loader {
  margin: 32px auto 0;
}

@media (max-width: 1100px) {
  .alernativText {
    display: flex;
  }
  .authBtn,
  .recoveryBtn {
    margin-bottom: 16px;
  }
}
@media (max-width: 640px) {
  .passwordField {
    flex-wrap: wrap;
    gap: 0;
  }
  .passwordField div {
    max-width: 100%;
  }
}

@media (max-width: 530px) {
  .recoveryBtn {
    margin-top: 24px;
    padding: 16px 72px;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .authBtn {
    margin-top: 24px;
    padding: 16px 119px;
    width: 100%;
  }
  .recoveryBtn {
    margin-top: 24px;
    padding: 16px 72px;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .popup {
    padding: 24px;
  }
  .popup h4 {
    margin-bottom: 24px;
    max-width: 229px;
    width: 100%;
  }
  .popup p {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .popup p:last-child {
    margin-top: 24px;
  }
  .passOptions {
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }
}
