.ProgressWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    margin: 0 auto;
}

.progressRing {
    transform: rotate(90deg);
}

.progressRingCircleBackground {
    stroke-linecap: round
}

.progressRingCircle {
    transition-property: stroke-dasharray;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    stroke-linecap: round
}

.progressContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}