.inputContainer {
  padding: 8px;
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  border: 2px solid var(--brown);
  border-radius: 10px;
  height: 80px;
}
.inputField {
  background-color: var(--white);
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  color: var(--gray);
}
.inputField::placeholder{
  color: var(--gray-light);
}
.inputField::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.inputField,
.limit,
.limitErr {
  font-size: 12px;
  line-height: 19px;
  font-family: var(--montserrat);
  font-weight: 500;
}
.limit {
  margin-bottom: 8px;
  color: var(--gray);
}
.limitErr {
  margin-bottom: 8px;
  color: var(--red);
}
.gray {
  fill: var(--dark-gray);
}