.container {
  margin: 0 auto 120px;
  max-width: 1248px;
  width: 100%;
}
.title {
  margin-bottom: 32px;
  text-align: center;
  font-size: 54px;
  font-weight: 800;
  line-height: 62px;
  color: var(--dark-gray);
}
.info {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 32px;
  justify-items: stretch;
}
.info p {
  font-family: var(--montserrat);
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--gray);
  max-width: 608px;
  width: 100%;
}
.images {
  position: relative;
  min-height: 545px;
  height: 100%;
  max-width: 608px;
  width: 100%;
}

.image1,
.image2,
.image3 {
  position: absolute;
}
.image1 {
  max-width: 393px;
  width: 100%;
  top: 0;
  left: 117px;
}
.image2 {
  max-width: 288px;
  width: 100%;
  top: 210px;
  left: 0;
}
.image3 {
  max-width: 288px;
  width: 100%;
  bottom: 0;
  right: 0;
}
@media (max-width: 1350px) {
  .info {
    margin-right: 24px;
    margin-left: 24px;
  }
  .info p {
    padding-right: 24px;
  }
}
@media (max-width: 1040px) {
  .images {
    min-height: 510px;
  }
  .image1 {
    left: 55px;
  }
  .image2,
  .image3 {
    max-width: 240px;
  }
}
@media (max-width: 920px) {
  .title {
    font-size: 45px;
    text-transform: uppercase;
  }
  .info p {
    font-size: 18px;
  }

  .image1 {
    left: 30px;
  }
  .image2,
  .image3 {
    max-width: 240px;
  }
}
@media (max-width: 870px) {
  .info {
    gap: 0px;
  }
  .images {
    min-height: 620px;
  }
  .image1,
  .image2,
  .image3 {
    max-width: 240px;
    left: 45px;
  }
  .image2 {
    top: 190px;
  }
  .image3 {
    top: 410px;
  }
}
@media (max-width: 662px) {
  .container {
    padding: 0 24px;
    margin-bottom: 100px;
  }

  .info {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .images {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-height: initial;
    gap: 16px;
  }
  .image1,
  .image2,
  .image3 {
    position: static;
    margin: 0 auto;
  }
  .image1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .image2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .image3 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media (max-width: 391px) {
  .container {
    padding: 0;
  }
  .title {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
  }
  .info p {
    padding: 0;
    font-size: 12px;
    line-height: 19px;
  }
  .images {
    display: block;
    position: relative;
    margin-bottom: 24px;
    min-height: 402px;
    height: 100%;
    gap: 32px;
  }
  .image1,
  .image2,
  .image3 {
    position: absolute;
  }
  .image1 {
    max-width: 342px;
    width: 100%;
    top: 0;
    left: 0px;
  }
  .image2 {
    max-width: 163px;
    width: 100%;
    top: 192px;
    left: 0;
  }
  .image3 {
    max-width: 163px;
    width: 100%;
    top: 260px;
    left: 180px;
  }
}
