.pageHome {
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: 437px 1fr 320px;
}

.welcome,
.career,
.widget {
    grid-column: 1 /4;
}

.resume {
    grid-column: 2 /4;
}

.activeAndArchiv {
    grid-column: 1/3;
}