.AboutUsPoint {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.AboutUsPointText::first-letter {
    color: var(--Brown, #958060);
    font-family: "Open Sans";
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}

.AboutUsPointText {
    color: var(--Gray, #686868);
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.AboutUsImage1 {
    width: 469.18px;
    height: 364.565px;
}

.AboutUsImage2 {
    width: 463.774px;
    height: 363.671px;
}

.AboutUsImage3 {
    width: 491.396px;
    height: 387.974px;
}