.userPageWrap {
    margin: 0 auto;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    font-family: var(--montserrat);
    min-height: 100vh;
}

@media(max-width: 390px), (min-width:390px) {
    .userPageWrap {
        padding: 16px 24px;
    }
}

@media (min-width:1440px) {
    .userPageWrap {
        max-width: 1440px;
        padding: 32px;
    }
}