.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 33px;
}
.previewContainer {
    margin-top: 32px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(149,128,96,0.2)
  }