.progressBarWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.progressBarTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: var(--dark-gray);
}

.progressBarMaxValue {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #a4a4a4;
}