.cheildrenContentContainer{
    margin-bottom: 16px;
}
.cheildrenContentContainer:last-of-type{
    margin-bottom: 0px;
}
.cheildrenContentLink{
    color: white;
    font-size: 22px;
    line-height: 32px;
    font-family:  "Montserrat", sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.cheildrenContentLink:hover{
    color: #604B2B;
    transition: 0.2s;
}